[Unit]
Description=uDAQC_Center
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=tyler
ExecStart=

[Install]
WantedBy=multi-user.target
