.fixed {
  position: fixed;
  background: #fff;
  z-index:1;
  width:100%;
}

.dependent {
  height:100%;
}

.padding {
  padding-top: 0px;
}

.scrollable {
  overflow-y: scroll;
}

.fixed2 {
  position:fixed;
  width:100vw;
  height:100vh;
}

.fullheight {
  height: 100%;
}

.fixedheight {
  height:100vh;
}

.flexdisplay{
  display:flex;
  flex-flow:column;
  height:100%;
}
.flexrow {
  flex: 0 1 auto
}
